@font-face {
  font-family: 'PP Neue Montreal VF';
  src: url('/fonts/PPNeueMontrealVF.woff2') format('woff2'),
       url('/fonts/PPNeueMontrealVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}